body {
  font-family: Arial, sans-serif;
}
h1 {
  color: grey;
  font-size: 80px;
  font-family: system-ui, Arial, Helvetica, sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}

h2 {
  color: indigo;
}

h3 {
  font-size: 18px;
  color: grey;
}

h4 {
  font-size: 18px;
  color: grey;
}

.float-left {
  font-size: 80px;
}

li {
  list-style: none;
}
